#registration {
	padding: 60.48px 67px 59.52px 68px;
	background: #f2f2f2;
}
.sign-up {
	position: relative;
	display: flex;
}
.sign-up__title {
	background: #5a61ed;
	padding: 21.98px 5.7px 21.98px 68.5px;
	display: flex;
}
.sign-up__title h2 {
	transform: rotate(180deg);
	writing-mode: vertical-rl;
	color: #fff;
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 49px;
	line-height: 63px;
	letter-spacing: 0.5px;
}
.sign-up__form {
	padding: 38.52px 22px 32.48px 20.8px;
	background: #fff;
	position: relative;
	overflow: hidden;
	max-width: 527.8px;
}
.sign-up__form--title {
	margin-bottom: 18px;
	overflow: hidden;
}
.sign-up__form--title h3 {
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
	letter-spacing: -0.46px;
	color: #111;
}
.sign-up__form--title > span {
	font-size: 14px;
	letter-spacing: -0.32px;
	line-height: 16px;
	color: #111;
}
.sign-up__form--inputs {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 82.52px;
}
.sign-up__form--inputs > div {
	width: 48.5%;
	margin-bottom: 14.38px;
	opacity: 0;
	transform: translateY(100px);
}
.sign-up__form--inputs > .input {
	position: relative;
}
.sign-up__form--inputs label {
	cursor: pointer;
	display: block;
	margin-bottom: 4.9px;
	line-height: 14px;
	font-size: 12px;
	text-transform: capitalize;
	letter-spacing: -0.46px;
	color: #7c7c7c;
}
.sign-up__form--inputs .input input,
select {
	border: none;
	outline: none;
	font-size: 14px;
	line-height: 16px;
	color: #111111;
	border-bottom: 0.7px solid #f2f2f2;
	padding-bottom: 6.1px;
	font-family: "Work Sans";
	background-color: transparent;
	width: 100%;
	font-weight: 500;
}

.sign-up__form--inputs select {
	width: 100%;
	appearance: none;
	padding-right: 10px;
	cursor: pointer;
}
.sign-up__form--inputs .birth div::after {
	content: "";
	position: absolute;
	z-index: 1;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
	height: 4px;
	background-image: url("../image/Shape.svg");
	background-repeat: no-repeat, repeat;
}
.sign-up__form--buttons {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sign-up__form--submit {
	text-transform: capitalize;
	cursor: pointer;
	display: block;
	background: #5a61ed;
	padding: 7px 26px 7px 25px;
	border: none;
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
}
.email {
	position: relative;
}
.email.valid::after {
	content: "";
	position: absolute;
	z-index: 1;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 11px;
	height: 8px;
	background-image: url("../image/daw.svg");
	background-repeat: no-repeat, repeat;
}
.shaking {
	animation: horizontal-shaking 0.3s infinite;
}
.sign-up__form--link span {
	font-size: 13px;
	line-height: 15px;
	color: #000;
}
.sign-up__form--link span a {
	color: #5a61ed;
	text-decoration: underline;
}
.birth {
	display: flex;
	justify-content: space-between;
	margin: 0 -3px;
}
.birth div {
	margin: 0 3px;
}
.birth__date {
	width: 56px;
}

.birth__month {
	width: 91px;
}
.birth__year {
	width: 67.67px;
}
.birth__year,
.birth__month,
.birth__date {
	position: relative;
}
.sign-up__form__gender {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.gender {
	display: flex;
	align-items: stretch;
	border-bottom: 2px solid transparent;
	position: relative;
}
.gender.not_valid {
	border-bottom: 2px solid #ff2828;
}
.gender > div label {
	font-size: 14px;
	font-weight: 500;
	color: #111;
	margin-bottom: 0;
	text-transform: capitalize;
}
.gender > div > input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.gender > div > input:checked + label::before {
	background-image: url("../image/checkbox.svg");
	background-repeat: no-repeat;
	background-position: center center;
}
.gender > div > label::before {
	content: "";
	display: inline-block;
	width: 11.3px;
	height: 11.3px;
	border: 0.7px solid #5a61ed;
	border-radius: 50%;
	margin-right: 6px;
}

.gender__male {
	margin-right: 20px;
}
.sign-up__form--title,
.sign-up__form--inputs,
.sign-up__form--buttons {
	z-index: 1;
	position: relative;
}
#account-icon {
	position: absolute;
	bottom: -10%;
	right: -17%;
	z-index: 0;
	max-width: 411px;
	max-height: 411px;
}
.sign-up__form--inputs .input input.not_valid {
	color: #ff2222;
	border-bottom: 2px solid #ff2828;
}
.sign-up__form--inputs > div.element-show {
	opacity: 1;
	transform: translateY(0);
	transition: 0.5s;
}
.sign-up__form--inputs > div.element-show:nth-of-type(1) {
	transition-delay: 0.3s;
}
.sign-up__form--inputs > div.element-show:nth-of-type(2) {
	transition-delay: 0.6s;
}
.sign-up__form--inputs > div.element-show:nth-of-type(3) {
	transition-delay: 0.9s;
}
.sign-up__form--inputs > div.element-show:nth-of-type(4) {
	transition-delay: 1.2s;
}
.sign-up__form--inputs > div.element-show:nth-of-type(5) {
	transition-delay: 1.5s;
}
.sign-up__form--inputs > div.element-show:nth-of-type(6) {
	transition-delay: 1.8s;
}
.sign-up__form--inputs > div.element-show:nth-of-type(7) {
	transition-delay: 2.1s;
}
.sign-up__form--inputs > div.element-show:nth-of-type(8) {
	transition-delay: 2.4s;
}

@media (max-width: 768px) {
	.sign-up__form {
		max-width: 100%;
	}
	.sign-up {
		flex-direction: column;
	}
	.sign-up__title {
		background: #5a61ed;
		padding: 21.98px 5.7px 21.98px 21px;
		display: flex;
	}
	.sign-up__title h2 {
		transform: rotate(0deg);
		writing-mode: horizontal-tb;
	}
}
@media (max-width: 590px) {
	#registration {
		padding: 15px;
	}
	.sign-up__form--inputs > div {
		width: 100%;
	}
	.sign-up__form--buttons {
		display: flex;
		flex-direction: column;
	}
	.sign-up__form--submit {
		margin-bottom: 15px;
	}
	.sign-up__form--link {
		order: 2;
	}
	.birth {
		justify-content: start;
		margin: 0 -5px;
	}
	.birth div {
		margin: 0 5 px;
	}
}

@keyframes horizontal-shaking {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(-5px);
	}
	75% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}
